{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"id-length": "off",
		"new-cap": ["error", {
			"capIsNewExceptions": [
				"IsRegExp",
				"RequireObjectCoercible",
				"StringCharCodeAt",
				"ToIntegerOrInfinity",
				"ToString",
			],
		}],
	},

	"overrides": [
		{
			"files": "test/**/*",
			"rules": {
				"max-lines-per-function": "off",
			},
		},
	],
}
